@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css');
@import url('https://l64.github.io/redefault/redefault.min.css');
@import url('https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css');
/* Links */
/*Header link*/
header a:link, .menu a:link {
  color: black; text-decoration: none;
}
header a:visited, .menu a:visited {
  color: black; text-decoration: none;
}
header a:hover, .menu a:hover {
  color: black; text-decoration: none;
}
header a:active, .menu a:active {
  color: black; text-decoration: none;
}
/**/
main,footer {
  margin: 10px;
}
.section {
  margin: 2px;
  padding: 6px;
  border: solid black 1px;
  border-radius: 5px;
}
.menu {
  padding: 3px 15px;
  background: rgb(230, 230, 230);
  width: 100%;
}